.page-header-container,
.page-nav {
    display: flex;
}

.header-border {
    border-bottom: 1px solid #ECECEC;
}

.logohead {
    display: inline-block;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-right: 93px;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);

    @media screen and (max-width: $max-desktop) {
        margin-right: 10%;
    }
}

.header-logo-span {
    color: #000000;
}

/* ========= nav ========= */

.nav-list {
    display: flex;
    column-gap: 50px;

    @media screen and (max-width: $max-tablet) {
        display: none;
    }
}

.contact-list {
    margin-left: auto;

    @media screen and (min-width: $desktop) {
        display: flex;
        column-gap: 50px;
    }

    @media screen and (max-width: $max-tablet) {
        display: none;
    }
}

.contact-list-link--mail {
    @media screen and (max-width: $max-desktop) {
        padding-top: 21px;
        padding-bottom: 0;
    }
}

.contact-list-link--phone {
    @media screen and (max-width: $max-desktop) {
        padding-top: 10px;
    }
}

.nav-link,
.contact-list-link {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: tablet) and (max-width) {
        
    }
}

.nav-link {
    color: #212121;
    position: relative;

    padding-bottom: 32px;
    padding-top: 32px;

    &.nav-link:hover,
    &.nav-link:focus {
        color: var(--accent-color);
    }
}

.current-page {
    color: var(--accent-color);

    &::after {
        content: ' ';
        position: absolute;
        display: block;
        bottom: -1px;

        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.contact-list-link {
    display: flex;
    column-gap: 10px;

    

    color: var(--background-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 32px;
        padding-top: 32px;
    }
}

.envelope-list-icon {
    width: 16px;
    height: 12px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-list-link:hover &,
    .contact-list-link:focus & {
        fill: var(--accent-color);
    }
}

.smartphone-list-icon {
    width: 10px;
    height: 16px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-list-link:hover &,
    .contact-list-link:focus & {
        fill: var(--accent-color);
    }
}
