/* mobile menu opener (switch) */

.mobile-menu__switch {
    width: 40px;
    height: 40px;

    margin: auto;
    margin-right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.mobile-menu__switch-icon {
    width: 24px;
    height: 16px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .mobile-menu__switch:hover & {
        fill: var(--accent-color);
    }
}

/* mobile menu block */

.mobile-menu__container {
    position: relative;
    padding: 48px 40px 48px 40px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

        transform: translateY(-101%);
        transition: 
        transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

        transform: translateY(0%);
}

.mobile-menu__close-btn {
    position: absolute;
    border: none;
    background-color: transparent;

    right: 30px;
    top: 20px;
    padding: 0;

    width: 40px;
    height: 40px;
}

.mobile-menu__close-icon {
    width: 18.67px;
    height: 18.67px;
}

.icon-cross {
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .mobile-menu__close-btn:hover & {
        fill: var(--accent-color);
    }

    .mobile-menu.mobile-menu.is-open & {
    opacity: 1;
    visibility: visible;
    }
}

.mobile-menu__nav-list,
.mobile-menu__contact-list,
.mobile-menu__socials-list {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.mobile-menu__nav-list{
    margin-bottom: 250px;

}
.mobile-menu__nav-list li:not(:last-child){
    margin-bottom: 32px;
}
.mobile-menu__nav-item {
    font-size: 40px;
    line-height: 1.18;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--accent-color);
    }

    @media screen and (max-width: $max-mobile) {
        font-size: 34px;
    }
}

.mobile-menu__contact-list {
    margin-bottom: 64px;
}
.mobile-menu__contact-item {
    font-size: 34px;
    line-height: 1.18;
    @media screen and (max-width: $max-mobile) {
        font-size: 24px;
    }
}
.mobile-contact-item--phone {
    display: block;
    margin-bottom: 32px;
    color: var(--accent-color);
}
.mobile-contact-item--mail {
    color: #757575;
}

.mobile-menu__socials-list{
    display: flex;
    @media screen and (max-width: $max-mobile) {
        flex-wrap: wrap;
    }
}
.mobile-menu__socials-list li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__socials-item {
    font-size: 18px;
    line-height: 1.22;
    color: #2196F3;
    @media screen and (max-width: $max-mobile) {
        line-height: 2;
        font-size: 12px;
    }
    @media screen and (max-width: 350px) {
        font-size: 10px;
    }
}

.mobile-current-page {
    color: var(--accent-color);
}