.section-services {
    visibility: hidden;
    width: 0;
    height: 0;
    padding-top: 0;

    @media screen and (min-width: $desktop) {
    visibility: visible;
    width: auto;
    height: auto;
    padding-top: 94px;
    }
}


.relative-box {
    position: relative;
}

.photo-overlay {
    position: absolute;
    @extend %aling;

    font-family: var(--primary-font);
    width: 370px;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;

    @media screen and (max-width: $mobile) {
        width:0;       
    }
}

.photo-overlay p {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.photo-wraper-box {
    padding-bottom: 94px;
}

.photo-wraper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}